[submodule "CodeTesting/RAYLIB/submodule/raylib"]
	path = CodeTesting/RAYLIB/submodule/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "CodeTesting/GPIO/wiringOP"]
	path = CodeTesting/GPIO/wiringOP
	url = https://github.com/orangepi-xunlong/wiringOP.git
[submodule "CodeRobot/wiringOP"]
	path = CodeRobot/wiringOP
	url = https://github.com/orangepi-xunlong/wiringOP.git
[submodule "CodeRobot/src/VL53L0X"]
	path = CodeRobot/src/VL53L0X
	url = https://github.com/bitbank2/VL53L0X.git
[submodule "CodeTesting/wiringOP"]
	path = CodeTesting/wiringOP
	url = https://github.com/orangepi-xunlong/wiringOP.git
[submodule "CodeTesting/THREADING_MAPPING/wiringOP"]
	path = CodeTesting/THREADING_MAPPING/wiringOP
	url = https://github.com/orangepi-xunlong/wiringOP.git
[submodule "CodeUser/raylib"]
	path = CodeUser/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "CodeUser/lib/raygui"]
	path = CodeUser/lib/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "CodeTesting/tof_Testing/VL53L0X"]
	path = CodeTesting/tof_Testing/VL53L0X
	url = https://github.com/bitbank2/VL53L0X.git
[submodule "CodeTesting/tof_Testing/vl53l0x-non-arduino"]
	path = CodeTesting/tof_Testing/vl53l0x-non-arduino
	url = https://github.com/michael-betz/vl53l0x-non-arduino.git
